@media only screen and (min-width: 500px) {
    #line {
        display: none;
    }

    .menu-container{
        height: 100%;
        padding: 10px 12px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }

    .menu-item {
        display: flex;
        width: 100%;
        margin-right: 100px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        gap: 10px;
    }

    .menu-links {
        list-style: none;
        margin: 0 10px;
    }
    .headline-container {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .menu-links {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    #line {
        display: none;
    }

    .menu-container{
        height: 100%;
        padding: 10px 12px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }

    .menu-item {
        display: flex;
        width: 100%;
        margin-right: 100px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        gap: 10px;
    }

    .menu-links {
        list-style: none;
        margin: 0 10px;
    }

    .headline-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 320px 300px;
    }

    .headline-title {
        width: 470px;
        height: 180px;
        display: flex;
        justify-content: start;
        margin: 5px;
    }

    .title {
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        padding: 8px;
    }

    .description-item {
        font-size: 20px;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 3px;
        text-align: justify;
    }


    .link-item {
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
    }

    .link {
        color: #7f8cff;
    }
}